<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">Лабораторная работа №1</h1>

            <h2>Успеваемость студентов гр. 723</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>ФИО</th>
                  {% for subject in list_subject %}
                    <th>{{ subject.name}}</th>
                  {% endfor %}

                  <th>Средний балл</th>
                </tr>
                </thead>
                <tbody>
                    {% for student in students_statistics %}
                        <tr>
                            <th scope="row">{{ student.ids}}</th>
                            <td>{{student.fio}}</td>
                            {% for score in student.subjects %}
                              <td>{{score.score}}</td>
                            {% endfor %}
                            <td>{{student.avg}}</td>

                        </tr>
                    {% endfor %}
                </tbody>
                <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            {% for score in summarySubject %}
                              <td>{{score}}</td>
                            {% endfor %}

                            

                        </tr>
                </tbody>
            </table>
            <h4>Отличники: {% for student in excellent_students %} {{student.fio}} {% endfor %}</h4>
            <h4>Отчислить: {% for student in bad_students %} {{student.fio}} {% endfor %}</h4>
        </div>
	</body>
</html>