<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">Лабораторная работа №1</h1>

            <h2>Успеваемость студентов гр. 714</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>ФИО</th>
                  <th>Python</th>
                  <th>Электротехника</th>
                  <th>Теория Информации</th>
                  <th>ТерВер</th>
                  <th>БОС</th>
                  <th>Средний балл</th>
                </tr>
                </thead>
                <tbody>
                    {% for student in students_statistics %}
                        <tr>
                            <th scope="row">{{student.id}}</th>
                            <td>{{student.fio}}</td>
                            <td>{{student.python}}</td>
                            <td>{{student.elektrotex}}</td>
                            <td>{{student.teorInf}}</td>
                            <td>{{student.terVer}}</td>
                            <td>{{student.bos}}</td>
                            <td>{{student.average}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Отличники:{{excellent_students}}</h4>
            <h4>Отчислить:{{bad_students}}</h4>
        </div>
	</body>
</html>